.App {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.App article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
.App body {
    line-height: 1;
}
.App ol, ul {
    list-style: none;
}
.App blockquote, q {
    quotes: none;
}
.App blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.App table {
    border-collapse: collapse;
    border-spacing: 0;
}

